<h1 class="d-inline">Courses</h1>
<div class="row mt-3">
  <div class="col-12">
    <div class="row">
      <div class="col-md-1">
        <button
          *ngIf="isTeacher"
          type="button btn-lg"
          class="btn btn-primary"
          (click)="openVerticallyCentered(content)"
        >
          Create
        </button>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Course</span>
          </div>
          <input
            type="text"
            class="form-control"
            name="course"
            [formControl]="searchInputCourse"
          />
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">User</span>
          </div>
          <input
            type="text"
            class="form-control"
            name="user"
            [formControl]="searchInputUser"
          />
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Page size</label
            >
          </div>
          <select
            class="custom-select"
            id="inputGroupSelect01"
            [ngModel]="pageSize"
            (ngModelChange)="setPageSize($event)"
          >
            <option selected value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <ngb-pagination
          [collectionSize]="paginationresult.total"
          [(page)]="page"
          [(pageSize)]="pageSize"
          [boundaryLinks]="true"
        >
          <ng-template ngbPaginationPages let-page let-pages="pages">
            <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
              <div class="form-group d-flex flex-nowrap px-2">
                <label
                  id="paginationInputLabel"
                  for="paginationInput"
                  class="col-form-label mr-2 ml-1"
                  >Page</label
                >
                <input
                  #i
                  type="text"
                  inputmode="numeric"
                  pattern="[0-9]*"
                  class="form-control custom-pages-input"
                  id="paginationInput"
                  [value]="page"
                  (keyup.enter)="selectPage(i.value)"
                  (blur)="selectPage(i.value)"
                  (input)="formatInput($any($event).target)"
                  aria-labelledby="paginationInputLabel paginationDescription"
                  style="width: 2.5rem"
                />
                <span
                  id="paginationDescription"
                  class="col-form-label text-nowrap px-2"
                >
                  of {{ pages.length }}</span
                >
              </div>
            </li>
          </ng-template>
        </ngb-pagination>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="container-fluide">
      <div class="row">
        <div class="col-md-3" *ngFor="let co of paginationresult.results">
          <div class="card">
            <img
              class="card-img-top"
              [src]="imageHelper.sourceImageCourse(co.idcourse)"
              alt="Card image cap"
            />
            <div class="card-body">
              <h2 class="card-title">{{ co.name }}</h2>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3"
                    >Description</span
                  >
                </div>
                <input
                  [disabled]="true"
                  type="text"
                  [value]="co.description"
                  class="form-control"
                  id="basic-url"
                  aria-describedby="basic-addon3"
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3"
                    >Professor</span
                  >
                </div>
                <input
                  [disabled]="true"
                  type="text"
                  [value]="co.user.name"
                  class="form-control"
                  id="basic-url"
                  aria-describedby="basic-addon3"
                />
              </div>
              <div class="d-flex justify-content-center">
                <button class="btn btn-primary" (click)="details(co)">
                  Details
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create course</h4>
    <button
      *ngIf="!createForm.disabled"
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="createForm != null">
    <form [formGroup]="createForm">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">Name</span>
            </div>
            <input
              type="text"
              required
              class="form-control"
              name="name"
              [formControlName]="'name'"
            />
          </div>
        </div>
        <div class="col-md-12">
          <mat-error *ngIf="createForm.get('name')?.hasError('required')">
            Is required
          </mat-error>
        </div>
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">Description</span>
            </div>
            <input
              type="text"
              required
              class="form-control"
              name="description"
              [formControlName]="'description'"
            />
          </div>
        </div>
        <div class="col-md-12">
          <mat-error
            *ngIf="createForm.get('description')?.hasError('required')"
          >
            Is required
          </mat-error>
        </div>
        <div class="col-md-12">
          <ng-container *ngIf="image != null">
            <div class="d-flex flex-col m-2 p-4 shadow rounded-2xl bg-card">
              <div class="d-flex items-center justify-content-center">
                <img
                  class="object-scale-down h-48 w-96"
                  mat-card-image
                  [src]="image.buffer"
                />
              </div>

              <div
                *ngIf="progress != null && progress.value > 0"
                class="flex flex-col flex-auto justify-center text-center text-sm font-medium"
              >
                <mat-progress-bar
                  [mode]="determinate"
                  [value]="progress.value"
                ></mat-progress-bar>
              </div>
              <div
                class="flex flex-col flex-auto justify-center text-center text-sm font-medium"
              >
                <div class="truncate" [matTooltip]="image.file.name">
                  {{ image.file.name }}
                </div>
              </div>
            </div>
          </ng-container>

          <div class="flex flex-col items-center mt-4 mb-4 sm:mt-0 md:mt-4">
            <button
            type="button btn-lg"
              class="ml-4 btn btn-primary"
              (click)="fileInput.click()"
            >
              <mat-icon>upload</mat-icon>
              <span class="ml-2 mr-1">Upload Picture</span>
              <input
                #fileInput
                type="file"
                accept="image/png, image/jpeg"
                (change)="selectFiles($event)"
                style="display: none"
              />
            </button>
            <mat-error *ngIf="image === null">Image is required </mat-error>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button btn-lg" class="btn btn-primary" (click)="createCourse()">Save</button>
    <mat-progress-spinner
            *ngIf="createForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
  </div>
</ng-template>
