<h4 class="d-inline">Courses</h4>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Course</span>
          </div>
          <input
            type="text"
            class="form-control"
            name="course"
          />
        </div>
      </div>
      <div class="col-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">User</span>
          </div>
          <input
            type="text"
            class="form-control"
            name="user"
          />
        </div>
      </div>
      <div class="col-4">
        <ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true">
          <ng-template ngbPaginationPages let-page let-pages="pages">
              <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                  <div class="form-group d-flex flex-nowrap px-2">
                    <label
                        id="paginationInputLabel"
                        for="paginationInput"
                        class="col-form-label mr-2 ml-1"
                    >Page</label>
                    <input #i
                        type="text"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        class="form-control custom-pages-input"
                        id="paginationInput"
                        [value]="page"
                        (keyup.enter)="selectPage(i.value)"
                        (blur)="selectPage(i.value)"
                        (input)="formatInput($any($event).target)"
                        aria-labelledby="paginationInputLabel paginationDescription"
                        style="width: 2.5rem"
                    />
                    <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                        of {{pages.length}}</span>
                  </div>
              </li>
          </ng-template>
      </ngb-pagination>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="container-fluide">
      <div class="row">
        <div class="col-md-3" *ngFor="let co of listCourses">
          <div class="card">
            <img class="card-img-top" src="assets/images/big/img1.jpg" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{ co.name }}</h2>
              <p class="card-text">{{ co.description }}</p>
              <button class="btn btn-primary" (click)="details(co)">Go somewhere</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Row -->
    </div>
  </div>
</div>
